<div *ngIf="makingWork">
  <p-progressBar mode="indeterminate" [style]="{'height': '6px', 'margin-bottom': '5px'}">
  </p-progressBar>
</div>
<form [formGroup]="serviceForm" (ngSubmit)="sendUrl()">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-12">
      <br>
      <div class="ui-inputgroup">
        <span class="ui-float-label">
          <input type="url" formControlName="urlService" pInputText>
          <label for="clientId">URL del Servicio</label>
        </span>
        <span class="ui-inputgroup-addon"><i class="fa fa-globe"></i></span>
        <button pButton class="ui-button-rounded ui-button-secondary" title="Ayuda"
          style="color: #007ad8; float: right;" (click)="requestHelp('h-importar')" icon="pi pi-question"></button>
      </div>
    </div>
  </div>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-6">
      <button pButton type="submit" [disabled]="!serviceForm.valid" icon="pi pi-check" iconPos="left"
        class="ui-button-rounded ui-button-success" label="Cargar" *ngIf="!makingWork"></button>
      <button pButton disabled icon="pi pi-check" iconPos="left" *ngIf="makingWork"
        class="ui-button-rounded ui-button-success" label="Cargando"></button>
    </div>
    <div class="ui-g-12 ui-md-6">
      <button pButton type="button" (click)="close()" label="Cancelar" icon="pi pi-times"
        class="ui-button-rounded ui-button-warning"></button>
    </div>
  </div>
</form>
<br>
<p-message id="infoMedicion" severity="info" [escape]="false" text="Ingrese la <b>dirección URL</b> del servicio que desea cargar">
</p-message>
