#body {
  overflow-y: scroll;
  height: 372px;
  clear: both;
}

#header {
  margin-bottom: 10px;
}

#header {
  display: grid;
  grid-template-columns: auto auto;
}

h2, h4 {
  margin: 0;
}

/* Pixel 2 XL */
@media screen and (max-height: 823px) and (max-width: 411px) {
  #body {
    height: 382px;
  }
}

/* iPhone X */
@media screen and (max-height: 812px) and (max-width: 375px) {
  #body {
    height: 372px;
  }
}

/* Pixel 2 */
@media screen and (max-height: 731px) and (max-width: 411px) {
  #body {
    height: 350px;
  }
}

/* iPhone 6/7/8 Plus */
@media screen and (max-height: 736px) and (max-width: 414px) {
  #body {
    height: 335px;
  }
}

/* iPhone 6/7/8 */
@media screen and (max-height: 667px) and (max-width: 375px) {
  #body {
    height: 265px;
  }
}

/* Galaxy S5 */
@media screen and (max-height: 640px) and (max-width: 360px) {
  #body {
    height: 265px;
  }
}

/* iPhone 5/SE */
@media screen and (max-height: 568px) and (max-width: 320px) {
  #body {
    height: 190px;
  }
}
