::ng-deep #info .ui-message,
.message {
  font-size: smaller;
  width: 100%;
}

.content {
  margin-left: 10px;
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-gap: 5px;
  margin-bottom: 5px;
  max-width: 450px !important;
}

::ng-deep .ui-multiselect {
  width: 90%;
}

.message {
  margin-top: 5px;
  padding: 5px;
  background-color: #7fbcec;
  border-radius: 3px;
}