<div>
  <p>Seleccione los elementos a eliminar:</p>
  <form [formGroup]="formClear">
    <div class="content">
      <div>
        <p>Capas: </p>
        <p-multiSelect [defaultLabel]="'Seleccionar'" formControlName="layers" [options]="layers"
          selectedItemsLabel="{0} items seleccionados" emptyFilterMessage="Sin resultados"></p-multiSelect>
      </div>
      <div>
        <p-checkbox binary="true" label="Gráficos" formControlName="graphics"></p-checkbox>
      </div>
      <div>
        <p-checkbox binary="true" label="Selección tabla de atributos" formControlName="selection"></p-checkbox>
      </div>
      <div align="right">
        <button pButton label="Limpiar" (click)="clear(false)"></button>&nbsp;
        <button pButton label="Limpiar todo" (click)="clear(true)"></button>
      </div>
    </div>
  </form>

  <p-message [escape]="true" severity="info" id="info"
    text="Desde esta ventana podrá elegir los elementos a borrar como selecciones, gráficos y capas cargadas.">
  </p-message>

  <div class="message">

    <p><i class="pi pi-info-circle"></i><span><b>Capas:</b> Son todas las capas cargadas por el usuario.</span> </p>
    <p><span><b>Gráficos:</b> Son todos los dibujos producto de acciones del usuario como selección, ubicación de coordenada, extracción.</span></p>
    <p><span><b>Selección tabla de atributos:</b> Son las entidades seleccionadas en la tabla de atributos.</span></p>
  </div>
</div>