::ng-deep #info .ui-message,
.message {
  font-size: smaller;
  width: 100%;
}

.content {
  margin-left: 10px;
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-gap: 5px;
  margin-bottom: 5px;
  min-width: 440px !important;
}

::ng-deep .ui-multiselect {
  width: 90%;
}

.message {
  margin-top: 5px;
  padding: 5px;
  background-color: #7fbcec;
  border-radius: 3px;
}

::ng-deep body .ui-tabview.ui-tabview-top .ui-tabview-nav li a {
  font-weight: 400 !important;
}