<div class="about">
  <div class="title">
    Geovisor ANH v3.0.0 <br> 15/01/2020
  </div>
  <div class="copyright">
    Copyright © 2013-2020
  </div>
  <div class="image">
    <img src="assets/logo-anh.png" width="200px" height="91px">
    <p>Vicepresidencia Técnica</p>
  </div>
  <div class="design">
    Diseño y Desarrollo <br>
    <img src="assets/logo-sueje.png">
    <br>
    <a href="http://www.sueje.edu.co/" target="_blank">SUEJE</a>
  </div>
</div>
<div class="about">
  <img src="assets/mineria.png">
</div>
<p-message id="infoMedicion" severity="info" [escape]="false" text="Versión del Geovisor y Datos del Desarrollador <br>
  Usa el botón X arriba para cerrar esta ventana."></p-message>
