.about {
  margin: 25px auto;
  text-align: center;
}

.about .title {
  margin: 20px auto;
  font-size: 18px;
}

.about .copyright {
  margin: 20px auto;
  font-size: 12px;
}

.about .image {
  margin: 20px auto;
  font-size: 12px;
}

.about .image {
  margin: 20px auto;
  font-size: 12px;
}
