<div class="about">
  <div class="title">
    Geovisor ANH v3.0.0 <br> 15/01/2020
  </div>
  <div class="copyright">
    Copyright © 2013-2020
  </div>
  <div class="image">
    <img src="logo-anh-p.png">
    <br>Vicepresidencia Técnica
  </div>
  <div class="design">
    Diseño y Desarrollo <br>
    <img src="../../assets/logo-utp.png">
    <br>
    <a href="https://utp.edu.co">UTP</a>
  </div>
</div>
<p-message id="infoMedicion" severity="info" text="Versión del Geovisor y Datos del Desarrollador <br>
  Usa el botón X arriba para cerrar esta ventana."></p-message>
