#help-content {
  height: 490px;
  overflow-y: auto;
}

#help-nav {
  height: 490px;
  overflow-y: auto;
}

.ui-g {
  width: 795px;
  height: 500px;
}

p {
  font-size: 13px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
  text-align: center;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even),
thead {
  background-color: #f2f2f2;
}

img {
  width: 98%;
  margin: 5px;
}

/* sidebar */
.sidebar {
  margin-bottom: 20px;
  padding-top: 0;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  list-style: none;
}

/* all links */
.sidebar .nav > li > a {
  color: #999;
  border-left: 2px solid transparent;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: 400;
  display: block;
}

/* active & hover links */
.sidebar .nav > .active > a,
.sidebar .nav > li > a:hover,
.sidebar .nav > li > a:focus {
  color: #44546A;
  text-decoration: none;
  background-color: transparent;
  border-left-color: #44546A;
}
/* all active links */
.sidebar .nav > .active > a,
.sidebar .nav > .active:hover > a,
.sidebar .nav > .active:focus > a {
  font-weight: 700;
}
