.help-content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.help-nav {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.guide {
  width: 700px;
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

p {
  font-size: 13px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}
