<p-toast></p-toast>
<!-- Empieza sidebar-menu -->
<p-sidebar [(visible)]="visibleMenu" [modal]="false" [baseZIndex]="10" [style]="{width:'200px', 'height': 'auto'}">
  <div id="logomenu">
    <img src="logo-anh-p.png" (click)="visibleMenu = false">
  </div>
  <div style="overflow-y: auto;">
    <p-panelMenu [model]="menu" [style]="{'width':'100%', 'height': 'auto'}" [multiple]="false"></p-panelMenu>
  </div>
</p-sidebar>
<!-- Finaliza sidebar-menu -->

<!-- Botón de menú -->
<div id="menu-info" (click)="visibleMenu = true" title="Menú" *ngIf="view.ready">
  <button id="menu" style="float: right;" type="button"></button>
</div>
<!-- Finaliza botón de menú -->

<!-- Div de carga de tareas -->
<div *ngIf="view.updating || makingWork" id="loading" class="loading-machin"></div>
<!-- Fin de div de carga de tareas -->

<!-- Div contenedor del mapa -->
<div #mapViewNode></div>
<!-- Fin del div contenedor del mapa -->

<!-- Tierra Slider del mapa -->
<div id="ts-tierras-wrapper" *ngIf="!errorArcgisService" align="center">
  <div class="ts-bg">
    <div id="ts-tierras" class="ui-slider-orange">
      <div class="ts-label">{{nameLayer}}</div>
    </div>
  </div>
</div>
<!-- Fin del tierra slider del mapa -->

<!-- Modal de extracción de datos -->
<p-dialog header="Extracción de datos" [(visible)]="modalExtract" [resizable]="false" (onHide)="onHideDialogExtract()"
  [positionTop]="0">
  <div id="infoDiv">
    <p>1. Defina el área de interés</p>
    <p-dropdown [options]="optionsPolygon" optionLabel="name" placeholder="Selección en la capa actual"
      (onChange)="onChangeSelect()" [(ngModel)]="selectedPolygon"></p-dropdown>
    <p-button label="Limpiar área" class="clearGraphics" [disabled]="!clearGraphic" (onClick)="clearGraphics()">
    </p-button>
    <p-button class="clearGraphics" [disabled]="selectedPolygon === undefined" icon="pi pi-undo"
      (onClick)="onChangeSelect()" pTooltip="Volver a dibujar" tooltipPosition="bottom"></p-button>
    <p>2. Seleccione las capas a extraer</p>
    <p-multiSelect [options]="optionsLayers" defaultLabel="Click aquí..." selectedItemsLabel="{0} items seleccionados"
      [(ngModel)]="selectedLayers"></p-multiSelect>
    <br>
    <p-button label="Extraer" icon="pi pi-download" (onClick)="extratShape()"></p-button>
  </div>
  <br>
  <p-message id="infoMedicion" severity="info"
    text="Proceda con los poligonos ya <b>seleccionados en la capa actual</b>. Si no<br> hay una selección en la capa actual debe usar las <b>Herramientas de</b><br><b>Selección.</b><br><b>Seleccione las capas</b> que se incluirán en la extracción">
  </p-message>
</p-dialog>
<!-- Fin del modal de extracción de datos -->

<!-- Modal de analisis de cobertura -->
<p-dialog header="Análisis de Cobertura de Entidades Territoriales" [(visible)]="modalAnalysis" [resizable]="false"
  (onHide)="onHideDialogAnalisis()">
  <p>
    Departamentos seleccionados para el analisis:
  </p>
  <p-multiSelect defaultLabel="Seleccione los departamentos para realizar análisis" (onChange)="changeAttrTable($event)"
    [options]="featureDptos" [(ngModel)]="dptosSelected" optionLabel="attributes.DEPARTAMEN"></p-multiSelect>
  <br>
  <p-button icon="pi pi-globe" [disabled]="dptosSelected.length == 0" (click)="generateAnalisisCobertura()"
    label="Iniciar Analisis de Cobertura"></p-button>
  <br>
  <br>
  <p-message id="infoMedicion" severity="info"
    text="Con este análisis se obtienen los <b>Bloques Explorativos que se <br> encuentran en la jurisdicción del Departamento</b> seleccionado,<br>indicando el porcentaje de cobertura de cada bloque. <br>Use las <b>herramientas de selección</b> o la <b>tabla de atributos</b> para indicar<br>cuales departamentos desea usar para este análisis.">
  </p-message>
</p-dialog>
<!-- Fin del modal de analisis de cobertura -->

<!-- Modal de zona de influencia -->
<p-dialog header="Zona de Influencia (Buffer)" [(visible)]="modalBuffer" [resizable]="false"
  (onHide)="onHideDialogBuffer()">
  <div id="div">
    <p>1. Defina la anchura deseada</p>
    <input id="input" type="text" size="18" pInputText [(ngModel)]="bufDistance" placeholder="Ingrese un número">
    &nbsp;
    <p-dropdown [options]="optionsBuffer" optionLabel="name" [(ngModel)]="selectedBuffer">
    </p-dropdown>
    <p>2. Dibuje la geometría para la Zona de Influencia</p>
    <p-selectButton [options]="modes" [(ngModel)]="selectedBufferSketch" (onChange)="onChangeSelectSketchBuffer()">
    </p-selectButton>
    <p-button label="Limpiar" class="clearGraphics" [disabled]="!clearGraphic" (onClick)="clearGraphics()">
    </p-button>
    <br>
  </div>
</p-dialog>
<!-- Fin del modal de zona de influencia -->

<!-- Modal de herramientas de medicion -->
<p-dialog header="Herramientas de Medición" [(visible)]="modalMeasurement" [resizable]="false"
  (onHide)="onHideDialogMedicion()">
  <div id="topbar">
    <button class="action-button fas fa-ruler esri-widget--button" (click)="setActiveWidget('distance')"
      id="distanceButton" type="button" title="Measure distance between two or more points"></button>
    <button class="action-button fas fa-ruler-combined esri-widget--button" (click)="setActiveWidget('area')"
      id="areaButton" type="button" title="Measure area"></button>
    <button class="action-button fas fa-search-location esri-widget--button" (click)="setActiveWidget('coordinate')"
      id="coordinateButton" type="button" title="Ubicación"></button>
  </div>
  <div id="widgetMeasure">
    <h3 style="text-align: center;">Resultado de la Medición</h3>
    <hr>
  </div>
  <div class="magna" style="background-color: #DEF0D8;" *ngIf="magnaSirgasFlag">
    <div>
      <p>MAGNA-SIRGAS Origen Central</p>
      <p>X(Este): {{magnaSirgas.x || ''}}</p>
      <p>Y(Norte): {{magnaSirgas.y || ''}}</p>
    </div>
  </div>
  <p-message id="infoMedicion" severity="info"
    text="Seleccione una herramienta y haga <b>clic</b><br> sobre el mapa para agregar puntos.
    <br>
    <b>Doble clic</b> para terminar la medición.
    <br>
    Pulse <b>Ctrl</b> para activar la alineación<br> automática (snapping) con la geometría del<br> mapa mientras agrega puntos."></p-message>
</p-dialog>
<!-- Fin del modal de herramientas de medición -->

<!-- Modal de tabla de atributos -->
<p-dialog header="Tabla de Atributos" [(visible)]="modalTable" [resizable]="false" (onHide)="onHideDialogAtributos()">
  <p-table [style]="{width: '500px'}" [paginator]="true" [rows]="5" selectionMode="multiple" #dt
    [columns]="columnsTable" *ngIf="modalTable" [dataKey]="dataKey()" [value]="featureDptos" [scrollable]="true"
    [(selection)]="featuresSelected" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
    scrollHeight="200px">
    <ng-template pTemplate="caption">
      {{layerSelected.title}}
    </ng-template>
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col *ngFor="let col of columns" style="width:250px">
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col}}
        </th>
      </tr>
      <tr>
        <th *ngFor="let col of columns">
          <input pInputText type="text" (input)="dt.filter($event.target.value, attrFilter(col), 'contains')">
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dpto let-columns="columns">
      <tr [pSelectableRow]="dpto">
        <td *ngFor="let col of columns">{{dpto.attributes[col]}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <button pButton icon="fas fa-file-excel" id="excel" (click)="generateExcelFeaturesLayer()"></button>
    </ng-template>
  </p-table>
</p-dialog>
<!-- Fin del modal de tabla de atributos -->

<!-- Div contenedor del widget de ayuda -->
<div id="help" class="esri-widget">
  <div *ngIf="view.ready">
    <div class="title-help">
      <div class="icon">
        <i class="esri-icon-comment" style="font-size: 1.5em"></i>
      </div>
      <div>
        <h3>Bienvenido al Geovisor ANH</h3>
      </div>
    </div>
    <div class="body-help">
      Puedes <b>hacer clic</b> sobre los elementos de tu interés en el mapa o... <ul>
        <li> <b>Encuentra arriba</b> lo que buscas.</li>
        <li> <b>Usa las herramientas</b> del menú de arriba a la izquierda.</li>
        <li> Selecciona a la derecha <b>la capa de trabajo</b>, controla <b>transparencia</b> y ve las <b>convenciones
            del mapa</b> y <b>atributos de los elementos</b> seleccionados.</li>
      </ul>
    </div>
    <div class="p-grid p-dir-col">
      <div class="p-col">
        <button pButton type="button" label="Abrir Guía del Usuario" class="ui-button-raised" icon="fa fa-book-open"
          (click)="onShowGuide()"></button>
      </div>
      <div class="p-col">
        <button pButton type="button" label="Acerca de Geovisor ANH" class="ui-button-raised ui-button-secondary"
          icon="pi pi-info-circle" (click)="onShowAbout()"></button>
      </div>
    </div>
  </div>
</div>
<!-- Fin del div contenedor del widget de ayuda -->

<!-- Modal de acerca de -->
<p-dialog header="Acerca de..." [(visible)]="modalAbout" [resizable]="false">
  <app-dialog-about></app-dialog-about>
</p-dialog>
<!-- Fin del modal de acerca de -->

<!-- Modal de ayuda -->
<p-dialog header="Ayuda del Geovisor ANH v3" [(visible)]="modalGuide" [resizable]="false">
  <app-dialog-guide></app-dialog-guide>
</p-dialog>
<!-- Fin del modal de ayuda -->
