<p-toast></p-toast>

<!-- Menú con Accordion -->
<div id="menu-info" *ngIf="view.ready">
  <p-accordion [expandIcon]="null" [collapseIcon]="null" (onOpen)="onAccordion(true)" (onClose)="onAccordion(false)">
    <p-accordionTab [selected]="true" [transitionOptions]="'200ms'">
      <p-header>
        <div title="Menú" class="logo-toggler" [ngClass]="{'display': visibleMenu}" id="menu"></div>
      </p-header>
      <div id="buttons">
        <button class="esri-button" style="background-color: #F8C933; border-color: #F8C933; border-radius: 4px;"
          title="Ver todo" (click)="viewAll()">
          <i class="icofont-world" align="center"></i>
        </button>
        <button class="esri-button" style="background-color: #E18230; border-color: #E18230; border-radius: 4px;"
          title="Herramientas de Medición" (click)="openMeasuringTools()">
          <i class="icofont-ruler-compass" align="center"></i>
        </button>
        <button class="esri-button" style="background-color: #D75C31; border-color: #D75C31; border-radius: 4px;"
          title="Seleccionar" (click)="openSelectionTool()">
          <i class="icofont-hand-drag1" align="center"></i>
        </button>
        <button class="esri-button" style="background-color: #CC3D36; border-color: #CC3D36; border-radius: 4px;"
          title="Identificar" (click)="openEnabledPopup()">
          <i class="esri-icon-description" align="center"></i>
        </button>
        <button class="esri-button" style="background-color: #44546A; border-color: #44546A; border-radius: 4px;"
          title="Descargar capa" (click)="openExtract()">
          <i class="esri-icon-download" align="center"></i>
        </button>
      </div>
      <div>
        <p-tieredMenu [style]="{'width': 'auto'}" id="content-menu" [model]="menu"></p-tieredMenu>
      </div>
    </p-accordionTab>
  </p-accordion>
</div>
<!-- Finaliza menú con Accordion -->


<!-- Div de carga de tareas -->
<div id="loading" *ngIf="(view.updating || makingWork) && !modalMeasurement && !flagSketch">
  <div class="loading-machin">
  </div>
  <p-progressBar mode="indeterminate" [style]="{'height': '6px', 'margin-top': '56px', 'margin-left': '-72px'}">
  </p-progressBar>
</div>
<!-- Fin de div de carga de tareas -->

<!-- Div contenedor del mapa -->
<div #mapViewNode></div>
<!-- Fin del div contenedor del mapa -->

<!-- Tierra Slider del mapa -->
<div id="ts-tierras-wrapper" class="esri-widget esri-component" *ngIf="!errorArcgisService" align="center">
  <div class="ts-bg">
    <div id="ts-tierras" class="ui-slider-orange">
      <div class="ts-label">{{nameLayer}}</div>
    </div>
  </div>
</div>
<!-- Fin del tierra slider del mapa -->

<!-- Modal de extracción de datos -->
<p-dialog header="Extracción de datos" [(visible)]="modalExtract" [resizable]="false" (onHide)="onHideDialogExtract()">
  <div id="infoDiv">
    <button pButton class="ui-button-rounded ui-button-secondary" title="Ayuda" style="color: #007ad8; float: right;"
      (click)="requestHelp('h-extraer')" icon="pi pi-question"></button>
    <p>1. Seleccione las capas a extraer</p>
    <p-multiSelect [options]="optionsLayers" defaultLabel="Click aquí..." selectedItemsLabel="{0} items seleccionados"
      [(ngModel)]="selectedLayers"></p-multiSelect>
    <br>
    <div *ngIf="!layerExtract">
      <p>2. Defina el área de interés</p>
      <div style="display: grid; grid-template-columns: auto auto;">
        <p-dropdown [options]="optionsPolygon" optionLabel="name" placeholder="Selección en la capa actual"
          (onChange)="onChangeSelect()" [(ngModel)]="selectedPolygon"></p-dropdown>
        <p-button label="Limpiar área" class="clearGraphics" [disabled]="!clearGraphic" (onClick)="clearGraphics()">
        </p-button>
      </div>
    </div>
    <p-button label="Extraer" icon="pi pi-download" (onClick)="extractShape()" [style]="{'margin-top': '5px'}">
    </p-button>
  </div>
  <br>
  <p-message [escape]="false" id="infoMedicion" *ngIf="!layerExtract" severity="info"
    text="Proceda con los poligonos ya <b>seleccionados en la capa actual</b>. Si no<br> hay una selección en la capa actual debe usar las <b>Herramientas de</b><br><b>Selección.</b><br><b>Seleccione las capas</b> que se incluirán en la extracción">
  </p-message>
  <p-message [escape]="false" id="infoMedicion" *ngIf="layerExtract" severity="info"
    text="<b>Seleccione las capas</b> que se incluirán en la extracción">
  </p-message>
  <br>
  <p-message [escape]="false" id="infoMedicion" severity="info"
    text="Fuentes de información: <br>*SGC: {{copyrightSGC}} <br>**IGAC: {{copyrightIGAC}}"></p-message>
</p-dialog>
<!-- Fin del modal de extracción de datos -->

<!-- Modal de analisis de departamento -->
<p-dialog header="Análisis de Departamento" [(visible)]="modalAnalysis" [resizable]="false"
  (onHide)="onHideDialogAnalisis()">
  <button pButton class="ui-button-rounded ui-button-secondary" title="Ayuda" style="color: #007ad8; float: right;"
    (click)="requestHelp('h-cobertura')" icon="pi pi-question"></button>
  <p>
    Departamentos seleccionados para el analisis:
  </p>
  <p-multiSelect defaultLabel="Seleccione los departamentos para realizar análisis" (onChange)="changeAttrTable($event)"
    [options]="featureDptos" [(ngModel)]="dptosSelected" optionLabel="attributes.DEPARTAMEN"></p-multiSelect>
  <br>
  <p-button icon="pi pi-globe" [disabled]="dptosSelected.length == 0" (click)="generateAnalisisCobertura()"
    label="Iniciar Analisis de Departamento"></p-button>
  <br>
  <br>
  <p-message [escape]="false" id="infoMedicion" severity="info"
    text="Con este análisis se obtienen los <b>Bloques Explorativos que se <br> encuentran en la jurisdicción del Departamento</b> seleccionado,<br>indicando el porcentaje de cobertura de cada bloque. <br>Use las <b>herramientas de selección</b> o la <b>tabla de atributos</b> para indicar<br>cuales departamentos desea usar para este análisis.">
  </p-message>
</p-dialog>
<!-- Fin del modal de analisis de cobertura -->

<!-- Modal de zona de influencia -->
<p-dialog header="Zona de Influencia (Buffer)" [(visible)]="modalBuffer" [resizable]="false"
  (onHide)="onHideDialogBuffer()">
  <div id="div">
    <button pButton class="ui-button-rounded ui-button-secondary" title="Ayuda" style="color: #007ad8; float: right;"
      (click)="requestHelp('buffer')" icon="pi pi-question"></button>
    <!-- <button pButton class="ui-button-rounded ui-button-secondary" title="Info" style="color: #007ad8; float: right; margin-right: 5px;"
     icon="pi pi-info"></button> -->
    <p>1. Defina la anchura deseada</p>
    <div style="display: grid; grid-template-columns: auto auto;">
      <input id="input" type="text" size="10" pInputText [(ngModel)]="bufDistance" placeholder="Ingrese un número"
        title="Ingrese un número">
      <p-dropdown [options]="optionsBuffer" optionLabel="name" [(ngModel)]="selectedBuffer">
      </p-dropdown>
    </div>
    <p>2. Dibuje la geometría para la Zona de Influencia</p>
    <div style="display: grid; grid-template-columns: auto auto;">
      <p-selectButton [options]="modesBuffer" [(ngModel)]="selectedSketch" (onChange)="onChangeSelectedSketchBuffer()">
      </p-selectButton>
      <p-button label="Limpiar" class="clearGraphics" [disabled]="!clearGraphic" (onClick)="clearGraphics()">
      </p-button>
    </div>
    <p>3. Seleccione las capas a extraer</p>
    <p-multiSelect [options]="optionsLayers" defaultLabel="Click aquí..." selectedItemsLabel="{0} items seleccionados"
      [(ngModel)]="selectedLayers"></p-multiSelect>
    <br>
    <p-button label="Extraer" icon="pi pi-download" (onClick)="extractShape()">
    </p-button>
  </div>
  <p-message [escape]="false" id="infoMedicion" severity="info" text="La <b>anchura del área de influencia (buffer)</b> se mide apartir del
      <br> contorno de la geometría. Cuando se usa un punto, la anchura equivale
      <br> al <b>radio</b> del círculo resultante.
      <br>Para dibujar un punto haga <b>clic</b> en el mapa.
      <br>Para las demás herramientas haga <b>clic</b> y sostenga mientras mueve
      <br>el mouse y suelte para finalizar."></p-message>
  <br>
  <p-message [escape]="false" id="infoMedicion" severity="info"
    text="Fuentes de información: <br>*SGC: {{copyrightSGC}} <br>**IGAC: {{copyrightIGAC}}"></p-message>
</p-dialog>
<!-- Fin del modal de zona de influencia -->

<!-- Modal de herramientas de medicion -->
<p-dialog header="Herramientas de Medición" [(visible)]="modalMeasurement" [resizable]="false"
  (onHide)="onHideDialogMedicion()" [positionTop]="10" [positionLeft]="200">
  <button pButton class="ui-button-rounded ui-button-secondary" title="Ayuda" style="color: #007ad8; float: right;"
    (click)="requestHelp('h-medir')" icon="pi pi-question"></button>
  <div style="width: 400px;">
    <p-selectButton [options]="modesMeasurement" [(ngModel)]="selectedMeasurement" (onChange)="setActiveWidget()">
    </p-selectButton>
    <div id="widgetMeasure">
      <h3 style="text-align: center;">Resultado de la Medición</h3>
      <hr>
    </div>
    <div class="magna" style="background-color: #DEF0D8;" *ngIf="magnaSirgasFlag">
      <div>
        <p>MAGNA-SIRGAS Origen Central</p>
        <p>X(Este): {{magnaSirgas.x || ''}}</p>
        <p>Y(Norte): {{magnaSirgas.y || ''}}</p>
      </div>
    </div>
    <p-message [escape]="false" id="infoMedicion" severity="info"
      text="Seleccione una herramienta y haga <b>clic</b> sobre el mapa para agregar puntos.
      <b>Doble clic</b> para terminar la medición.
      <br>Pulse <b>Ctrl</b> para activar la alineación automática (snapping) con la geometría del mapa mientras agrega puntos."></p-message>
  </div>
</p-dialog>
<!-- Fin del modal de herramientas de medición -->

<!-- Modal de tabla de atributos -->
<p-dialog id="attr-table" header="Tabla de atributos" [(visible)]="modalTable" [resizable]="false" [draggable]="false"
  (onHide)="onHideDialogAtributos()" [style]="{'width': '800px'}" position="bottomright">
  <p-table class="esri-widget__table" [style]="{'width': 'inherit', 'height': '444px'}" [paginator]="true" [rows]="100"
    [rowsPerPageOptions]="[100,200,500]" selectionMode="multiple" #dt [columns]="columnsTable" *ngIf="modalTable"
    [dataKey]="dataKey()" [value]="featureDptos" [scrollable]="true" [(selection)]="featuresSelected"
    (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" scrollHeight="270px">
    <!-- <ng-template pTemplate="caption">
      <button pButton type="button" (click)="previousLayer()" class="ui-button-rounded" icon="fas fa-arrow-circle-left"
        title="Ver ant capa"></button>
      {{layerSelected.title}}
      <button pButton type="button" (click)="nextLayer()" class="ui-button-rounded" icon="fas fa-arrow-circle-right"
        title="Ver sgte capa"></button>
    </ng-template> -->
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col *ngFor="let col of columns" style="width:180px">
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.alias}}
        </th>
      </tr>
      <tr>
        <th *ngFor="let col of columns; let i = index">
          <span style="display: grid; grid-template-columns: 20% 80%;" class="filter">
            <select name="select" *ngIf="view.ready" class="esri-select" [(ngModel)]="filter[i]">
              <option value="contains" selected>contiene</option>
              <option value="startsWith">empiece por</option>
              <option value="endsWith">termina por</option>
              <option value="equals">igual</option>
              <option value="notEquals">no igual a</option>
              <option *ngIf="col.type !== 'string'" value="lt">menor que</option>
              <option *ngIf="col.type !== 'string'" value="lte">menor o igual que</option>
              <option *ngIf="col.type !== 'string'" value="gt">mayor que</option>
              <option *ngIf="col.type !== 'string'" value="gte">mayor o igual que</option>
            </select>
            <input class="esri-input" type="text"
              (input)="dt.filter($event.target.value, attrFilter(col.name), filter[i])">
          </span>
        </th>
      </tr>
      <tr style="background: transparent;">
        <td style="padding: 0px; ">
          <p-progressBar mode="indeterminate" *ngIf="makingWork" [style]="{'height': '6px'}"></p-progressBar>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-columns="columns">
      <tr [pSelectableRow]="item">
        <td *ngFor="let col of columns">{{item.attributes[col.name]}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div style="display: grid; grid-template-columns: auto auto;">
        <div style="text-align: left; font-size: larger;">
          {{layerSelected.title}}
        </div>
        <div>
          <p-dialog header="Búsqueda" [(visible)]="modalFilter" [style]="{width: '500px'}" [modal]="true"
            (onHide)="getFeaturesLayerSelected()" [resizable]="false" [draggable]="false" position="topleft">
            <div style="max-height: 250px; overflow-y: scroll;">
              <button pButton icon="pi pi-plus" label="Añadir Criterio" (click)="addFormField(1)"></button>
              <div *ngFor="let i of arrQuantity(quantityFields).fill(1); let p = index" style="margin-top: 10px;">
                <select name="selectField" style="width: 110px; float: left;" class="esri-select"
                  [(ngModel)]="objectFilter[p]">
                  <option *ngFor="let item of columnsTable; let i = index" [ngValue]="item.name">{{item.name}}</option>
                </select>
                <select name="selectType" (change)="getFilterParams()"
                  style="width: 110px; float: left; margin-left: 5px;" *ngIf="view.ready" [(ngModel)]="filterS[p]"
                  class="esri-select">
                  <option
                    *ngIf="objectFilter[p] !== undefined"
                    value="contains" selected>contiene</option>
                  <option
                    *ngIf="objectFilter[p] !== undefined"
                    value="startsWith">empiece por</option>
                  <option
                    *ngIf="objectFilter[p] !== undefined"
                    value="endsWith">termina por</option>
                  <option value="equals">igual</option>
                  <option value="notEquals">no igual a</option>
                  <option *ngIf="objectFilter[p] !== undefined && getTypeObject(objectFilter[p]) !== 'string'"
                    value="lt">
                    menor que
                  </option>
                  <option *ngIf="objectFilter[p] !== undefined && getTypeObject(objectFilter[p]) !== 'string'"
                    value="lte">menor o
                    igual que</option>
                  <option *ngIf="objectFilter[p] !== undefined && getTypeObject(objectFilter[p]) !== 'string'"
                    value="gt">
                    mayor que
                  </option>
                  <option *ngIf="objectFilter[p] !== undefined && getTypeObject(objectFilter[p]) !== 'string'"
                    value="gte">mayor o
                    igual que</option>
                </select>
                <input class="esri-input" [(ngModel)]="values[p]" type="text"
                  style="width: 110px; float: left; margin-left: 5px;" (input)="getFilterParams()">
                <select name="selectOpe" (change)="getFilterParams()"
                  style="width: 50px; float: left; margin-left: 5px;" *ngIf="view.ready"
                  [(ngModel)]="logicalOperators[p]" class="esri-select">
                  <option value="AND" selected>Y</option>
                  <option value="OR">O</option>
                </select>
                <p-button icon="esri-icon-close" (onClick)="addFormField(-1)"></p-button>
              </div>
            </div>
          </p-dialog>
          <button pButton icon="pi pi-search" class="ui-button-rounded ui-button-secodnary"
            pTooltip="Buscar información" (click)="openFilter()"></button>
          <button pButton icon="esri-icon-download" class="ui-button-rounded ui-button-warning"
            pTooltip="Exportar a Shapefile" (click)="extractShapeFromAttr()"></button>
          <button pButton icon="fas fa-file-excel" class="ui-button-rounded ui-button-success"
            pTooltip="Exportar a Excel" (click)="generateExcelFeaturesLayer()"></button>
        </div>
      </div>
    </ng-template>
  </p-table>
</p-dialog>
<!-- Fin del modal de tabla de atributos -->

<!-- Div contenedor del widget de ayuda -->
<div id="help" class="esri-widget">
  <div *ngIf="view.ready">
    <div class="title-help">
      <div class="icon">
        <i class="pi pi-comment" style="font-size: 2em"></i>
      </div>
      <div class="title-text">
        <h4>Bienvenido al Geovisor ANH</h4>
      </div>
    </div>
    <div class="body-help">
      Puedes <b>hacer clic</b> sobre los elementos de tu interés en el mapa o ... <ul>
        <li> <b>Encuentra arriba</b> lo que buscas.</li>
        <li> <b>Usa las herramientas</b> del menú de arriba a la izquierda.</li>
        <li> Selecciona a la derecha <b>la capa de trabajo</b>, controla <b>transparencia</b> y ve las <b>convenciones
            del mapa</b> y <b>atributos de los elementos</b> seleccionados.</li>
      </ul>
    </div>
    <div align="center" class="p-grid p-dir-col">
      <div class="p-col" style="margin: 0 auto;">
        <button pButton type="button" label="Abrir Guía del Usuario" class="ui-button-raised" icon="fa fa-book-open"
          (click)="onShowGuide()"></button>
        <button pButton type="button" label="Acerca de Geovisor ANH" class="ui-button-raised ui-button-secondary"
          icon="pi pi-info-circle" (click)="onShowAbout()"></button>
        <!-- </div>
      <div class="p-col"> -->
      </div>
    </div>
  </div>
</div>
<!-- Fin del div contenedor del widget de ayuda -->

<!-- Modal de acerca de -->
<p-dialog header="Acerca de..." [(visible)]="modalAbout" [resizable]="false">
  <app-dialog-about></app-dialog-about>
</p-dialog>
<!-- Fin del modal de acerca de -->

<!-- Modal de ayuda -->
<p-dialog header="Ayuda del Geovisor ANH v3" [(visible)]="modalGuide" [resizable]="false">
  <app-dialog-guide [flag]="modalGuide" [elementId]="sectionSelected"></app-dialog-guide>
</p-dialog>
<!-- Fin del modal de ayuda -->

<!-- Modal Herramientas de selección -->
<p-dialog header="Herramientas de selección" [(visible)]="modalSelection" [resizable]="false"
  (onHide)="onHideDialogSelection()">
  <button pButton class="ui-button-rounded ui-button-secondary" title="Ayuda" style="color: #007ad8; float: right;"
    (click)="requestHelp('h-seleccionar')" icon="pi pi-question"></button>
  <div style="margin-bottom: 5px;">
    <div>
      <label>Capa de Selección:</label>
      <p-dropdown (ngModelChange)="changeLayer($event)" [options]="optionsLayers" [(ngModel)]="layerSelectedSelection"
        placeholder="Seleccione una capa">
      </p-dropdown>
    </div>
    <div style="display: grid; grid-template-columns: auto auto; margin-top: 5px;">
      <p-selectButton [options]="modesBuffer" [(ngModel)]="selectedSketch"
        (onChange)="onChangeSelectedSketchSelection()">
      </p-selectButton>
      <p-button label="Limpiar" class="clearGraphics" [disabled]="!clearGraphic" (onClick)="clearGraphics()">
      </p-button>
    </div>
  </div>
  <p-message [escape]="false" id="infoMedicion" severity="info" text="La selección aplica a la capa selecccionada.
      <br> Para la selección con un punto <b>clic</b> en el mapa.
      <br>Para las demás herramientas haga <b>clic</b> y sostenga
      <br> mientras mueve el mouse, y suelte para finalizar."></p-message>
  <br>
  <p-message [escape]="false" id="infoMedicion" severity="info"
    text="Fuentes de información: <br>*SGC: {{copyrightSGC}} <br>**IGAC: {{copyrightIGAC}}"></p-message>
</p-dialog>
<!-- Fin de modal herramientas de selección -->

<!-- Componente ubicar coordenada -->
<p-dialog header="Ubicar coordenada" [(visible)]="modalCoordinate" [resizable]="false" [positionTop]="10"
  [positionLeft]="200">
  <div>
    <div>
      <p>1. Unidades de la coordenada:</p>
      <p-dropdown [options]="optionsCoordinateUnits" optionLabel="name" [(ngModel)]="coordinateUnits"
        (onChange)="onChangeCoordinateUnits()" [style]="{'width': '95%'}"></p-dropdown>
    </div>
    <div>
      <p>2. Sistema de coordenadas</p>
      <p-dropdown [options]="optionsCoordinateSystem" [style]="{'width': '80%'}" [(ngModel)]="coordinateSystem">
      </p-dropdown>
    </div>
    <div>
      <p>3. Ingrese coordenada</p>
      <div style="display: grid; grid-template-columns: auto auto;">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon">{{coordinateUnits.x}}</span>
          <p-inputMask mask="{{coordinateUnits.mask}}" [(ngModel)]="coordinateX" slotChar="0"></p-inputMask>
        </div>
        <div style="padding: 5px;" *ngIf="coordinateUnits.geographical">
          <p-radioButton name="group1" value="N" [(ngModel)]="lathem" label="Norte ( + )"></p-radioButton>
          &nbsp;
          <p-radioButton name="group1" value="S" [(ngModel)]="lathem" label="Sur ( - )"></p-radioButton>
        </div>
      </div>
      <div style="display: grid; grid-template-columns: auto auto; margin-top: 5px;">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon">{{coordinateUnits.y}}</span>
          <p-inputMask mask="{{coordinateUnits.mask}}" [(ngModel)]="coordinateY" slotChar="0"></p-inputMask>
        </div>
        <div style="padding: 5px;" *ngIf="coordinateUnits.geographical">
          <p-radioButton name="group2" value="O" [(ngModel)]="lonhem" label="Oeste ( - )"></p-radioButton>
        </div>
      </div>
    </div>
    <div style="margin-top: 5px;">
      <p-button label="Borrar anteriores" icon="pi pi-times" (onClick)="clearGraphics()"></p-button>
      <p-button label="Limpiar campos" icon="fa fa-broom" (onClick)="coordinateX = ''; coordinateY = ''"
        [style]="{'margin-left': '5px'}"></p-button>
      <p-button label="Ubicar" icon="pi pi-map-marker" [style]="{'margin-left': '5px'}" (onClick)="locateCoordinate()">
      </p-button>
    </div>
  </div>
  <br>
  <p-message [escape]="false" id="infoMedicion" severity="info" text="Ingrese los datos solicitados para <b>crear un punto en la coordenada</b>
  <br>que desea ubicar.
  <br>Al ingresar Longitud y Latitud se deben <b>llenar todos los espacios
  <br>subrayados</b> con dígitos entre 0 y 9. Para grados de un sólo dígito
  <br>use un espacio o cero al inicio. Todo lo anterior no aplica para X e Y.">

  </p-message>
</p-dialog>

<div id="coordsWidget" class="esri-widget esri-component" style="padding: 7px 7px 5px;">
  <div style="display: grid; grid-template-columns: auto auto;">
    <select name="select" *ngIf="view.ready" class="esri-select" [(ngModel)]="coordsModel">
      <option value="G" selected>Grados decimales</option>
      <option value="P">MAGNA-SIRGAS Origen Central</option>
    </select>
    <br>
    <div id="coords" style="margin-top: 1.5px;"></div>
  </div>
</div>
