@import url('https://js.arcgis.com/4.12/esri/css/main.css');
#menu {
    background-image: url("../../assets/logo-anh-q.png");
    height: 67px;
    width: 188px;
}

#opacidad {
    width: 100%;
    height: 100%;
    background-color: #888;
    opacity: 0.5;
    position: absolute;
    z-index: 10;
}

::ng-deep body .ui-tieredmenu {
    border: none;
    border-radius: 0px;
}
::ng-deep body .ui-megamenu .ui-megamenu-panel {
    margin-left: 50px;
}

#menu-info {
  z-index: 5;
  /* text-align: center; */
  position: absolute;
  width: auto;
}

/* #region  Accordion*/
::ng-deep .ui-accordion .ui-accordion-content {
  padding: 0 !important;
}

::ng-deep :focus {
  outline: unset !important;
}

::ng-deep .ui-accordion .ui-accordion-header a{
  padding: 0 !important;
}

::ng-deep .ui-accordion .ui-accordion-header a, .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a{
  background-color: white !important;
  border-color: #c8c8c8 !important;
}
/* #endregion */

::ng-deep .esri-scale-bar__line {
  z-index: 0 !important;
}

#logomenu img{
    margin-left: 20px;
}

#panel-selected-layer {
    padding: 8px 0px 8px 0px;
}

::ng-deep .ui-sidebar-active {
    padding: 0 !important;
}

::ng-deep body .ui-panelmenu .ui-panelmenu-header > a {
    border: none;
}

::ng-deep body .ui-dialog .ui-dialog-titlebar {
    border: none;
}

::ng-deep body .ui-dialog .ui-dialog-content {
    border: none;
}
/* width */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

@media only screen and (max-width: 991px) {
    /* #menu-info:before {
        border-top: 1px solid rgb(255, 237, 0);
        border-bottom: 1px solid rgb(254, 204, 0);
        height: 2px;
        width: 18px;
        content: "";
        position: absolute;
        z-index: 11;
        top: 13px;
        left: 4px;
        -webkit-transition: all 0.1s ease;
        transition: all 0.1s ease;
        -o-transition: none;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
    }

    #menu-info:after {
        border-top: 1px solid rgb(240, 125, 0);
        border-bottom: 1px solid rgb(227, 6, 19);
        content: "";
        height: 2px;
        width: 18px;
        position: absolute;
        top: 19px;
        left: 4px;
        -webkit-transition: all 0.1s ease;
        transition: all 0.1s ease;
        -o-transition: none;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
    } */
}

.logo-toggler:before {
  border-top: 1px solid rgb(255, 237, 0);
  border-bottom: 1px solid rgb(254, 204, 0);
  height: 2px;
  width: 18px;
  content: "";
  position: absolute;
  z-index: 11;
  top: 13px;
  left: 4px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  -o-transition: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  }
  .logo-toggler:after {
  border-top: 1px solid rgb(240, 125, 0);
  border-bottom: 1px solid rgb(227, 6, 19);
  content: "";
  height: 2px;
  width: 18px;
  position: absolute;
  top: 19px;
  left: 4px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  -o-transition: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  }
  .logo-toggler.display:before {
  height: 4px;
  top: 8px;
  border-width: 2px;
  }
  .logo-toggler.display:after {
  height: 4px;
  top: 20px;
  border-width: 2px;
  }

/* #menu-info:before {
    border-top: 1px solid rgb(255, 237, 0);
    border-bottom: 1px solid rgb(254, 204, 0);
    height: 2px;
    width: 18px;
    content: "";
    position: absolute;
    z-index: 11;
    top: 13px;
    left: 4px;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    -o-transition: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

#menu-info:after {
    border-top: 1px solid rgb(240, 125, 0);
    border-bottom: 1px solid rgb(227, 6, 19);
    content: "";
    height: 2px;
    width: 18px;
    position: absolute;
    top: 19px;
    left: 4px;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    -o-transition: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
} */

@media only screen and (max-width: 991px) {
    /* #logomenu:before {
        border-top: 3px solid rgb(255, 237, 0);
        border-bottom: 3px solid rgb(254, 204, 0);
        height: 5px;
        width: 18px;
        content: "";
        position: absolute;
        z-index: 11;
        top: 13px;
        left: 4px;
        -webkit-transition: all 0.1s ease;
        transition: all 0.1s ease;
        -o-transition: none;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
    }

    #logomenu:after {
        border-top: 3px solid rgb(240, 125, 0);
        border-bottom: 3px solid rgb(227, 6, 19);
        content: "";
        height: 5px;
        width: 18px;
        position: absolute;
        top: 19px;
        left: 4px;
        -webkit-transition: all 0.1s ease;
        transition: all 0.1s ease;
        -o-transition: none;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
    } */
}

/* #logomenu:before {
    border-top: 3px solid rgb(255, 237, 0);
    border-bottom: 3px solid rgb(254, 204, 0);
    height: 5px;
    width: 18px;
    content: "";
    position: absolute;
    z-index: 11;
    top: 13px;
    left: 4px;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    -o-transition: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

#logomenu:after {
    border-top: 3px solid rgb(240, 125, 0);
    border-bottom: 3px solid rgb(227, 6, 19);
    content: "";
    height: 5px;
    width: 18px;
    position: absolute;
    top: 19px;
    left: 4px;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    -o-transition: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
} */

::-webkit-scrollbar-thumb:hover {
    background: #999;
}

p-sidebar {
    overflow-y: scroll;
}


#helps button {
    margin-left: 25px;
}

#helps {
    margin: 5px 0px 5px 0px;
}

#ts-tierras-wrapper {
    background-color: rgba(255, 255, 255, 0.6) !important;
}

::ng-deep #infoMedicion .ui-message {
    font-size: smaller;
    width: 100%;
}

::ng-deep .esri-widget--panel {
    z-index: 3000;
    padding: 10px;
}

#topbar button {
    float: left;
}

#widgetMeasure {
    clear: both;
}

#excel {
    margin-left: 90% !important;
}

@media print {
    ::ng-deep .esri-component {
        display: none !important;
    }
    p-sidebar, p-dialog {
        display: none;
    }
    #menu {
        display: none;
    }

    #menu-info {
      display: none;
    }
    #ts-tierras-wrapper {
        display: none;
    }
}

#loading {
    top: 50%;
    left: 50%;
    z-index: 1001;
    width: 73px;
    position: fixed;
}

.loading-machin {
    position: fixed;
    width: 144px;
    height: 90px;
    background: url(../../assets/pozo.gif);
    margin-top: -72px;
    margin-left: -72px;
}

#attributeTable {
    padding: 0.5em;
    background-color: #fff;
}

::ng-deep body .ui-accordion-header {
    border: none;
}

/* Safari 4.0 - 8.0 */

@-webkit-keyframes mymove {
    from {
        background-position: -4320px;
    }
    to {
        background-position: 0px;
    }
}

@keyframes mymove {
    from {
        background-position: -4320px;
    }
    to {
        background-position: 0px;
    }
}

#ts-tierras-wrapper {
    position: absolute;
    bottom: 25px;
    top: auto;
    width: 40%;
    align-items: center;
    margin: 0 auto;
    left: 26.8%;
}

#ts-tierras-wrapper .ts-bg {
    position: relative;
    max-width: 100%;
    background-color: white;
    height: 45px;
    padding: 0px 20px;
    padding-top: 20px;
}

#ts-tierras {
    position: relative;
    opacity: 1.0;
    text-align: center;
    height: 20px;
}

#ts-tierras .ts-label {
    bottom: 20px;
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.ui-slider-orange .esri-slider .esri-widget .esri-slider--horizontal {
    background-color: rgba(255, 255, 255, 0.6);
}

::ng-deep .esri-slider__thumb {
  border-radius: 0 !important;
  border: 2px solid #FF9900;
}

::ng-deep .esri-slider__thumb:hover {
  border-color: #FF9900;
}

::ng-deep .esri-slider__anchor--moving:focus .esri-slider__thumb {
  border: 2px solid #FF9900;
}

::ng-deep .esri-slider__segment {
  /* background-color: #FF9900; */
  height: 6px !important;
  top: -2px !important;
}

::ng-deep .esri-slider__max {
  margin-left: 5px !important;
}

::ng-deep .esri-icon-expand:before {
  margin-left: 65px !important;
}

::ng-deep .ui-tieredmenu .ui-menuitem-icon{
  height: 18.89px !important;
}
#infoDiv {
    padding: 5px;
}

.clearGraphics {
    margin: 0px 5px;
    padding-bottom: 0px;
}

#help {
  background-color: white;
  width: 272px;
}

.title-help {
  background-color: #0079C0;
  border-bottom-color: #D5DDE8;
  color: #FFFFFF;
  text-shadow: none;
  display: grid;
  grid-template-columns: auto auto;
  height: 36px;
}

.icon, .title-text {
  height: 36px;
}

.title-text h4 {
  margin-top: 9px;
}

.title-help .icon {
  margin: 4px auto;
}

.body-help {
  padding: 9px 14px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12.5px;
}

.p-dir-col .p-col {
  margin: 0 auto;
}

.magna {
  margin: 5px 0px;
  padding: 10px;
  color: green;
}

#div {
  margin: 2px;
}

#buttons {
  /* justify-content: center; */
  padding: 4px;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: white;
}

#buttons p-button {
  margin: 0 auto;
}

