@import url('https://js.arcgis.com/4.12/esri/css/main.css');
#menu {
  background-image: url("../../assets/logo-anh-menu.png");
  background-size: 195px 80px;
  background-position: right;
  height: 80px;
  width: 185px;
}

#opacidad {
  width: 100%;
  height: 100%;
  background-color: #888;
  opacity: 0.5;
  position: absolute;
  z-index: 10;
}

::ng-deep body .ui-tieredmenu {
  border: none;
  border-radius: 0px;
}

::ng-deep body .ui-megamenu .ui-megamenu-panel {
  margin-left: 50px;
}

#menu-info {
  z-index: 5;
  position: absolute;
  width: auto;
}

.layerSelected {
  height: 40px;
  background-color: white;
  padding: 10px;
  font-size: large;
  font-family: "Avenir Next W00", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.layerSelected span {
  margin-left: 5px;
}


/* #region  Accordion*/

::ng-deep .ui-accordion .ui-accordion-content {
  padding: 0 !important;
}

::ng-deep :focus {
  outline: unset !important;
  box-shadow: none !important;
}

::ng-deep .ui-accordion .ui-accordion-header a {
  padding: 0 !important;
}

::ng-deep body .ui-accordion .ui-accordion-header a, ::ng-deep body .ui-accordion .ui-accordion-content {
  border: none !important;
  background-color: transparent;
}

::ng-deep .ui-accordion .ui-accordion-header a, .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
  background-color: white !important;
  border-color: #c8c8c8 !important;
}

/* #endregion */

::ng-deep .esri-scale-bar__line {
  z-index: 0 !important;
}

#logomenu img {
  margin-left: 20px;
}

#panel-selected-layer {
  padding: 8px 0px 8px 0px;
}

::ng-deep .ui-sidebar-active {
  padding: 0 !important;
}

::ng-deep body .ui-panelmenu .ui-panelmenu-header>a {
  border: none;
}

::ng-deep body .ui-dialog .ui-dialog-titlebar {
  border: none;
}

::ng-deep body .ui-dialog .ui-dialog-content {
  border: none;
  padding: 5px;
}

/* width */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

@media only screen and (max-width: 991px) {}

.logo-toggler:before {
  border-top: 1px solid rgb(255, 237, 0);
  border-bottom: 1px solid rgb(254, 204, 0);
  height: 2px;
  width: 18px;
  content: "";
  position: absolute;
  z-index: 11;
  top: 13px;
  left: 4px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  -o-transition: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.logo-toggler:after {
  border-top: 1px solid rgb(240, 125, 0);
  border-bottom: 1px solid rgb(227, 6, 19);
  content: "";
  height: 2px;
  width: 18px;
  position: absolute;
  top: 19px;
  left: 4px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  -o-transition: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.logo-toggler.display:before {
  height: 4px;
  top: 8px;
  border-width: 2px;
}

.logo-toggler.display:after {
  height: 4px;
  top: 20px;
  border-width: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}

p-sidebar {
  overflow-y: scroll;
}

#helps button {
  margin-left: 25px;
}

#helps {
  margin: 5px 0px 5px 0px;
}

::ng-deep #infoMedicion .ui-message {
  font-size: smaller;
  width: 100%;
}

::ng-deep .esri-widget--panel {
  z-index: 3000;
  padding: 10px;
}

#topbar button {
  float: left;
}

#widgetMeasure {
  clear: both;
}

#excel button {
  margin-right: 5%;
}

@media print {
  ::ng-deep .esri-component {
    display: none !important;
  }
  p-sidebar, p-dialog {
    display: none;
  }
  #menu {
    display: none;
  }
  #menu-info {
    display: none;
  }
  #ts-tierras-wrapper {
    display: none;
  }
  #footer {
    display: none;
  }
}

#loading {
  top: 50%;
  left: 50%;
  z-index: 1001;
  width: 73px;
  position: fixed;
}

::ng-deep .anh-icon {
  width: 20px;
  height: 20px;
  float: left;
}

::ng-deep .is7 {
  background: url(../../assets/is7.png);
  background-repeat: no-repeat;
  background-size: 150px;
}

::ng-deep .map {
  background: url(../../assets/map.png);
  background-repeat: no-repeat;
  background-size: 400px;
}

::ng-deep .gpx-icon {
  background-position: 95% 84%;
}

::ng-deep .geojson-icon {
  background-position: 50% 61%;
}

::ng-deep .influence-zone-icon {
  background-position: 95% 50%;
}

::ng-deep .help-cursor {
  cursor: help !important;
}

::ng-deep .normal-cursor {
  cursor: default !important;
}

.loading-machin {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 144px;
  height: 144px;
  background: url(../../assets/loading-machin.png) -5px -20px;
  margin-top: -72px;
  margin-left: -72px;
  animation: mymove 1.6s steps(30, end) infinite;
  z-index: 1001;
}

#attributeTable {
  padding: 0.5em;
  background-color: #fff;
}

::ng-deep body .ui-accordion-header {
  border: none;
}

/* Safari 4.0 - 8.0 */

@-webkit-keyframes mymove {
  from {
    background-position: -4320px;
  }
  to {
    background-position: 0px;
  }
}

@keyframes mymove {
  from {
    background-position: -4320px;
  }
  to {
    background-position: 0px;
  }
}

#time-slider {
  background-color: rgba(255, 255, 255, 0.6) !important;
  width: 40vw;
  margin-right: 16vw;
  align-items: center;
}

@media only screen and (max-width: 1286px){
  #time-slider {
    margin-right: 14vw;
  }
}

@media only screen and (max-width: 1122px) {
  #time-slider {
    margin-right: 12vw;
  }
}

@media only screen and (max-width: 958px) {
  #time-slider {
    margin-right: 10vw;
  }
}

@media only screen and (max-width: 899px) {
  #time-slider {
    margin-right: 8vw;
  }
}

@media only screen and (max-width: 850px) {
  #time-slider {
    margin-right: 7vw;
  }
}

#time-slider .ts-bg {
  max-width: 100%;
  background-color: transparent !important;
  height: 51.5px;
  padding: 0px 20px;
  padding-top: 20px;
}

#ts-tierras {
  background-color: transparent;
  position: relative;
  opacity: 1.0;
  text-align: center;
  height: 20px;
}

#ts-tierras .ts-label {
  bottom: 20px;
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.ui-slider-orange .esri-slider .esri-widget .esri-slider--horizontal {
  background-color: rgba(255, 255, 255, 0.6);
}

::ng-deep .esri-slider__thumb {
  border-radius: 0 !important;
  border: 2px solid #FF9900;
}

::ng-deep .esri-slider__thumb:hover {
  border-color: #FF9900;
}

::ng-deep .esri-slider__anchor--moving:focus .esri-slider__thumb {
  border: 2px solid #FF9900;
}

::ng-deep .esri-slider__segment {
  height: 6px !important;
  top: -2px !important;
}

::ng-deep .esri-slider__max {
  margin-left: 5px !important;
}

::ng-deep .esri-slider__max,
::ng-deep .esri-slider__min {
  font-weight: bold;
}

::ng-deep .esri-icon-expand:before {
  margin-left: 65px !important;
}

::ng-deep .ui-tieredmenu .ui-menuitem-icon {
  height: 18.89px !important;
}

#infoDiv {
  padding: 5px;
}

.clearGraphics {
  margin: 0px 5px;
  padding-bottom: 0px;
}

#help {
  background-color: white;
}

@media only screen and (max-height: 700px) {
  #help {
    width: 398px;
  }
}

@media only screen and (min-height: 701px) {
  #help {
    width: 272px;
  }
}

.title-help {
  background-color: #0079C0;
  border-bottom-color: #D5DDE8;
  color: #FFFFFF;
  text-shadow: none;
  display: grid;
  grid-template-columns: auto auto;
  height: 36px;
}

.icon, .title-text {
  height: 36px;
}

.title-text h4 {
  margin-top: 9px;
}

.title-help .icon {
  margin: 4px auto;
}

.body-help {
  padding: 9px 14px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12.5px;
}

.p-dir-col .p-col {
  margin: 0 auto;
}

.magna {
  margin: 5px 0px;
  padding: 10px;
  color: green;
}

#buttons .button1 {
  grid-area: 'button1';
}
#buttons .button2 {
  grid-area: 'button2';
}
#buttons .button3 {
  grid-area: 'button3';
}
#buttons .button4 {
  grid-area: 'button4';
}
#buttons .button5 {
  grid-area: 'button5';
}

#buttons {
  padding: 4px;
  display: grid;
  grid-template-areas: 'button1 button2 button3 button4 button5';
  grid-gap: 2px;
  background-color:white;
}

#buttons p-button {
  margin: 0 auto;
}

@media only screen and (max-width: 445px) {
  #buttons {
    grid-template-areas:
    'button1'
    'button2'
    'button3'
    'button4'
    'button5';
    width: 45px;
  }

  #menu {
    height: 51px;
    width: 130px;
    background-size: 131px 51px;
  }

  .logo-toggler:before, .logo-toggler:after {
    width: 12px;
    height: 1px;
  }
}

@media only screen and (max-width: 544px) {
  ::ng-deep .esri-view-height-medium .esri-expand .esri-widget--panel, .esri-view-height-small .esri-expand .esri-widget--panel, ::ng-deep .esri-view-height-medium .esri-expand .esri-widget--panel-height-only, ::ng-deep .esri-view-height-small .esri-expand .esri-widget--panel, ::ng-deep .esri-basemap-gallery__item-container {
    max-height: 420px !important;
  }
}

@media only screen and (min-width: 545px) {
  ::ng-deep .esri-view-height-medium .esri-expand .esri-widget--panel, .esri-view-height-small .esri-expand .esri-widget--panel, ::ng-deep .esri-view-height-medium .esri-expand .esri-widget--panel-height-only, ::ng-deep .esri-view-height-small .esri-expand .esri-widget--panel, ::ng-deep .esri-basemap-gallery__item-container {
    max-height: 300px !important;
  }
}

@media only screen and (max-width: 799px) {
  #time-slider {
    display: none;
  }
}

@media only screen and (min-width: 800px) {
  #time-slider {
    display: initial;
  }
}

::ng-deep #buttons .esri-button {
  padding: 0px 0px !important;
  width: 33px !important;
  height: 33px !important;
}

::ng-deep .esri-button i {
  font-size: 26px;
  color: initial;
  margin-left: 10%;
}

::ng-deep td .esri-button {
  height: 28px !important;
  min-height: 28px !important;
  width: 100% !important;
  min-width: 28px !important;
  background-color: transparent;
  border: none;
}

::ng-deep td .esri-button i {
  font-size: 16px;
}
/* ::ng-deep .esri-button:hover {
  background-color: transparent;
  border-color: transparent;
} */

/* Íconos menú */
::ng-deep .icofont-tools-alt-2,
::ng-deep .icofont-download-alt,
::ng-deep .icofont-printer,
::ng-deep .esri-icon-upload {
  font-size: 22px !important;
}

/* Íconos submenú */
::ng-deep .icofont-web,
::ng-deep .icofont-file-psd,
::ng-deep .icofont-file-excel,
::ng-deep .icofont-file-zip,
::ng-deep .esri-icon-download,
::ng-deep .icofont-ruler-compass,
::ng-deep .fa-bullseye,
::ng-deep .fa-clone,
::ng-deep .icofont-location-pin,
::ng-deep .esri-icon-locate,
::ng-deep .icofont-map,
::ng-deep .icofont-swirl,
::ng-deep .icofont-paint,
::ng-deep .icofont-print,
::ng-deep .icofont-color-bucket {
  font-size: 18px !important;
}

::ng-deep #buttons .icofont-ruler-compass,
::ng-deep #buttons .esri-icon-download {
  font-size: 26px !important;
}

* >>> .ui-datatable-scrollable {
  display: flex;
  flex-direction: column;
}

* >>> .ui-datatable-scrollable-wrapper {
  flex: 1 1 0;
}

* >>> .ui-datatable-scrollable-view {
  height: 100%;
  display: flex;
  flex-direction: column;
}

* >>> .ui-datatable-scrollable-body {
  flex: 1 1 0;
}

::ng-deep #coordsWidget .esri-select {
  border: none !important;
  height: auto;
  background: none;
  font-size: 11.5px;
  padding: unset;
}

::ng-deep #coordsWidget {
  width: 250px !important;
  max-width: 250px !important;
  font-size: 12px;
}

::ng-deep .filter .esri-select {
  background: none;
}

::ng-deep .esri-icon-measure-area:before,
::ng-deep .esri-icon-measure-line:before,
::ng-deep .esri-icon-map-pin:before,
::ng-deep .esri-icon-radio-checked:before,
::ng-deep .esri-icon-minus:before,
::ng-deep .esri-icon-polyline:before,
::ng-deep .esri-icon-sketch-rectangle:before,
::ng-deep .esri-icon-polygon:before {
  color: initial;
}


::ng-deep .esri-print__author-info-container,
::ng-deep .esri-print__copyright-info-container{
  display: none !important;
}

::ng-deep body .ui-tieredmenu .ui-menuitem-link:focus {
  box-shadow: none !important;
}

::ng-deep body .ui-dialog .ui-dialog-titlebar {
  padding: 0.5em;
  font-weight: 400;
}

.ui-button-rounded {
  margin-right: 5px !important;
}

::ng-deep  body .ui-table .ui-table-tbody > tr > td,
::ng-deep  body .ui-table .ui-table-thead > tr > th {
  white-space: pre;
  font-size: 11px;
}

.esri-select, .esri-input {
  height: 25px;
  font-size: 11px;
}

::ng-deep .maxTable {
  width: 800px;
}

::ng-deep .minTable {
  width: 238px;
  height: 71px;
  background-color: white;
}

::ng-deep .pi-sort-up:before,
::ng-deep .pi-sort-down:before {
  color: initial;
}

::ng-deep body .ui-table .ui-sortable-column.ui-state-highlight {
  background: none;
  color: initial;
}

::ng-deep .esri-coordinate-conversion__tools .esri-widget--button {
  background-color: #f4f4f4;
}

::ng-deep .esri-coordinate-conversion {
  width: 373px !important;
}

::ng-deep .esri-area-measurement-2d__container {
  padding: unset;
}

::ng-deep .esri-coordinate-conversion__row {
  padding: 0px 5px;
}

::ng-deep .esri-area-measurement-2d__settings,
::ng-deep .esri-distance-measurement-2d__settings {
  padding: 5px;
}

::ng-deep .esri-area-measurement-2d .esri-widget .esri-widget--panel,
::ng-deep .esri-distance-measurement-2d .esri-widget .esri-widget--panel {
  padding: 5px;
}

::ng-deep .esri-area-measurement-2d__measurement,
::ng-deep .esri-distance-measurement-2d__measurement {
  padding: 5px;
  margin: 5px;
}

::ng-deep body .ui-widget {
  font-size: 13px;
}

::ng-deep .esri-coordinate-conversion__settings-group-horizontal {
  pointer-events: none;
}
