@import url('https://js.arcgis.com/4.12/esri/css/main.css');

#menu {
    z-index: 5;
    position: absolute;
    background: #ffffff;
    background-image: url("../../assets/logo-anh-p.png");
    background-repeat: no-repeat;
    width: 160px;
    padding: 29px;
    height: 54px;
}

#helps button {
    margin-left: 25px;
}

@media print {
    .esri-ui-corner {
        display: none !important;
    }

    p-sidebar {
        display: none;
    }

    #menu {
        display: none;
    }
}
